<!doctype html>
<html>
        <title>Document Scanner</title>
        <head>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style.css")}}">

        </head>
        <body>  
                <div id="parameters"  class="mydivs">
                        <button class="sidebtn" >About</button>
                        <button class="sidebtn" onclick="reset()" title="Go back to selecting image">Reset</button>
                                
                </div>

                <div id="heading"  class="mydivs">
                        Document scanner app
                </div>
                
                <div id="controls" class="mydivs">
                        <input id="fileinput" placeholder="Enter name of image">
                        <button class="sidebtn" id="b0" onclick="fb0()" >Load image</button>
                        <button class="sidebtn" id="b1" onclick="fb1()" disabled>Process</button>
                </div>
               
                           
                <div id="instructions" class="mydivs">
                        Welcome to my document scanner app !<br>
                        Enter the path of file to be used.
                </div>
                       
                <div id="preview_canvas"  class="mydivs">
                        <canvas id="preview" width=500 height=300></canvas>
                </div>
                
                <div id="progbar_container"  class="mydivs">
                        <progress id="prog_bar" value="0" max="3"></progress>
                </div>
               
                <script src="{{ url_for('static', filename="js/sketch.js")}}"></script>
        </body>
</html>
